@model SiteHamburguer.Models.PedidoRadioButton

@{
    ViewBag.Title = "Pao";
}

<h2>Pao</h2>

@using (Html.BeginForm())
{
    foreach(var ingrediente in Model.INGREDIENTEs)
    {   
        <dt>
             @Html.RadioButtonFor(x => x.Pao, ingrediente.COD_INGREDIENTE)@ingrediente.DESCR_INGREDIENTE
         </dt>
    }
    <br />
    <br />
    <input type="submit" value="Submit"/>

}
