
@{
    ViewBag.Title = "Index";

    if (Session["clienteCOD"] == null)
    {
        Response.Redirect("~/LoginConsumidor/Index");
    }

}

<h2>Index</h2>
<body>
    <div>
        <h1>DashBoard</h1>
        <h3>Usuário: @Session["clienteUsuario"]</h3>
        <a href="@Url.Action("logOut", "LoginConsumidor")">Logout</a>
        <a href="@Url.Action("RealizarPedido", "LoginConsumidor")">Pedido</a>

    </div>
</body>


